nav {
    background-color: lightgray;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#liste {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

#blur {
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0.5);
}

#ajouter {
    border: solid 1px gray;
    margin-bottom: 50px;
    display: none;
}

.info {
    margin-top: 10px;
    margin-bottom: 10px;
}